.button {
  padding: 14px 44px;
  font-weight: 500;
  border-radius: 6.5px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: background-color 250ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
}

.primary {
  color: #fff;
  background-color: #0e0f11;
}

.outline {
  background-color: transparent;
  color: #0e0f11;
  border: 1px solid #0e0f11;
}

.primary:hover {
  background-color: #fff;
  color: #0e0f11;
}

.outline:hover {
  color: #fff;
  background-color: #0e0f11;
}
