.navbar {
  position: fixed;
  top: 0;
  right: 1rem;
  left: 1rem;
  display: none;
  padding-block: 0.75rem;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 999;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
  }
}
