.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 2rem;
  display: none;
  padding-block: 0.75rem;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(279, 66%, 93%);
  z-index: 999;
}

.menuContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.menuContent button {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: 4rem;
  justify-content: center;
}

.mobileMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  padding: 2rem;
  width: 50%;
  height: 100%;
  justify-content: space-between;
  transform: translateX(-100%);
  transition: all 300ms;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: hsl(350deg 100% 30% / 0.75);
  backdrop-filter: blur(3px);
  transform: translateX(-100%);
  z-index: 3;
}

.search {
  border: 2px solid gray;
  background: bisque;
}

.active {
  transform: translateX(0%);
}

@media (max-width: 640px) {
  .navbar {
    padding: 1rem;
  }
  .mobileMenu {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .navbar {
    display: flex;
  }
}
