.wrapper {
  padding-top: 0rem;
  background-image: linear-gradient(
    180deg,
    hsl(279, 66%, 93%) 1%,
    hsl(279, 66%, 93%) 50%,
    hsla(0, 0%, 0%, 0) 0%
  );
}

.hero {
  position: relative;
  padding-top: 9rem;
  padding-bottom: 12.5rem;
  background-image: url("/bg-hero.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
}

.grid {
  margin-top: 128px;
  display: grid;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  grid-template-columns: 0.75fr 1fr;

  grid-template-rows: auto;
}

.featured button {
  margin-top: 24px;
}

.featured h1 {
  margin-bottom: 16px;
  max-width: 12ch;
}

.facts {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 0.85fr 1.05fr 0.9fr;
  margin-top: 24px;
}

.fact {
  display: flex;
  gap: 8px;
  align-items: center;
}

.factInfoTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.factInfoDesc {
  font-size: 12px;
}

.factImage {
  margin-bottom: 2px;
}

@media (max-width: 1024px) {
  .grid {
    margin-top: 50px;
  }
  .hero {
    padding-top: 8rem;
    background-position: 50% 45%;
  }
}

@media (max-width: 840px) {
  .grid {
    display: flex;
  }

  .featured h1 {
    max-width: 120ch;
  }
  .hero {
    padding-top: 8rem;
    padding-bottom: 14rem;
    background-position: 50% 45%;
  }
}

@media (max-width: 640px) {
  .hero {
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
  .grid {
    margin-top: 30px;
  }
  .facts {
    flex-wrap: wrap;
  }
  .hero {
    padding-top: 8rem;
    background-position: 0% 0%;
    background-size: cover;
  }
  .facts {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 44px;
  }
  .featured button {
    width: 100%;
  }
}
