:root {
}

h1 {
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

body {
  height: 200vh;
  color: #0e0f11;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  margin-right: 8rem;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  flex-basis: 250px;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
