.container {
  margin-block: 128px;
}

.header {
  text-align: center;
  margin-bottom: 48px;
}

.header h2 {
  margin-bottom: 12px;
}

.button {
  margin-inline: auto;
}

.cardContainer {
  padding-block: 32px;
  margin-bottom: 24px;
  display: flex;
  position: relative;
  gap: 24px;
}
