.searchForm {
  display: flex;
  margin-bottom: 10px;
  height: 48px;
  margin-bottom: 0px;
  padding-right: 18px;
  padding-left: 24px;
  border: 0px none transparent;
  border-radius: 25.6px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.searchForm input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  border: 0;
  outline: 0;
  background-color: transparent;
}
