.navbar {
  position: fixed;
  top: 0;
  right: 2rem;
  left: 2rem;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 90px;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
  }
}
