.wrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 48px;
}

@media (max-width: 840px) {
  .wrapper {
    justify-content: center;
  }
}
@media (max-width: 640px) {
  .wrapper {
    justify-content: center;
  }
}
